$blueprint-font-family: "Lucida Grande", "Lucida Sans Unicode", "Sans", "sans-serif"
$blueprint-fixed-font-family: "Menlo", "Monaco", "andale mono", "lucida console", "monospace"
$blueprint-font-size: 14px

$link_color: #ff9900