$blueprint-font-family: "Lucida Grande", "Lucida Sans Unicode", "Sans", "Helvetica", "sans-serif"
$blueprint-fixed-font-family: "Menlo", "Monaco", "andale mono", "lucida console", "monospace"
$blueprint-font-size: 14px

$orange:      #ff9900
$grey:        #666666
$link_color:  $orange
