form
  padding: 0
  margin: 0
  fieldset
    padding: 0 5px
    margin: 0
    border: 0 none
    &.submit_button
      width: 410px
      text-align: right
    &:hover
      label
        color: #fff
    input[type="text"], input[type="email"], input[type="password"], textarea
      +rounded(2px)
      +box-shadow(#f90,0,0,1px)
      border: 1px solid #000
      width: 400px
      font-size: 14px
      font-family: $blueprint-font-family
      background-color: rgba(255,255,255,.1)
      color: (#f90 - #222)
      +transition(border-color, .25s, ease-in)
      +transition(box-shadow, .25s, ease-in)
      &:focus
        +box-shadow(rgba(255,128,0,1),0,0,6px)
        color: white
        border-color: (#f90 - #666)
        outline: 0 none
      &:invalid
        background-color: rgba(255,0,0,.3)
      &:required
        background-color: rgba(255,0,0,.3)
    #contact_us_name_required, #contact_us_email_required, #contact_us_message_required, #contact_us_email_invalid
      +rounded(0px 0px 4px 4px)
      display: none
      margin-left: 12px
      margin-top: 1px
      width: 360px
      font:
        size: 11px
        weight: 900
      color: white
      padding: 4px 10px
    #contact_us_name_required, #contact_us_email_required, #contact_us_message_required
      background: $orange
      color: $social - #444
      text-shadow: ($orange + #444) 0 1px 0
    #contact_us_email_invalid
      background: $red
      text-shadow: ($red - $grey) 0 -1px 0
    input[type="text"], input[type="email"], input[type="password"]
      height: 30px
    textarea
      vertical-align: top
    label
      font-weight: 900
      color: #666
      +transition(color, .5s, ease-in)
    input[type="text"], input[type="email"], input[type="password"], textarea, button[type="submit"]
      &:focus, &:active, &:hover
        outline: 0 none
#contact_us_success,#contact_us_failure
  h3
    font:
      family: Georgia, Times, 'Times New Roman', Serif, serif
      style: italic
      weight: 100
      size: 18px
    padding: 14px 0
    text-shadow: #000 1px 1px 2px
  p
    color: white
    font-size: 14px
#contact_us_success h3
  color: $green
#contact_us_failure h3
  color: $red