body #content
  .labs_header_wire
    border-top: 1px solid white
    background:
      image: url(/images/header_top.gif)
      repeat: repeat
    height: 2px
  #softa_labs
    background: #f3f3f3
    border-top: 1px solid white
    h1
      text-align: center
    hr
      border: 0 none
      border-bottom: 1px dotted #ddd
      padding: 1em 0
    samp
      +rounded(4px)
      background: $grey
      color: white
      text-shadow: #000 0 -1px 0
      padding: .25em
      -webkit-font-smoothing: subpixel-antialiased
  article.labs_article
    .article_images
      +column(8)
      img
      ul
        list-style: none
        margin: 0
        padding: 0
        li
          float: left
          margin-right: 18px
    .article_title
      h2
        color: $grey
    .article_author
      h4
        color: $orange
    .article_content
      +column(16,last)
      p
      ul
        margin: 0
        padding: 0
        list-style: none
        li
          margin: 0
          padding: 0
  .labs_footer_wire
    border-bottom: 1px solid white
    background:
      image: url(/images/header_top.gif)
      repeat: repeat
    height: 1px
