body #content
  #softa_mailee
    border-top: 1px solid #fff
    border-bottom: 1px solid #ccc
    padding-bottom: 20px
    background:
      color: #ccc
      image: url(/images/maileeme/background.png)
      repeat: repeat-x
      attachment: scroll
      position: left top
    .wrapper
      overflow: visible
      position: relative
    h1
      text-shadow: #fff 0 1px 0
      color: #ccc
      margin-top: .5em
    .work_showcase_info
      +column(10, last)
      h3, p
        margin-right: 30px
      .mailee_links
        +inset-box-shadow(0, 1px, 0, #eee)
        +rounded(6px)
        border: 1px solid #999
        background-color: #aaa
        +linear-gradient(color-stops(#c7c7c7, #808080))
        padding: 12px
        margin: 0 10px 0 0
        hr
          +groove(#cfcfcf)
        h4
          font-size: 14px
          text-transform: lowercase
          font-variant: small-caps
          font-weight: 900
          color: #444
          padding: 0 0 10px 0
          text-shadow: #ddd 0 1px 0
        .twitter, .blog, .help, .mailee_call_to_action
          color: #fff
          &:hover
            text-decoration: none
            color: white
        .mailee_call_to_action
          word-space: nowrap
          background: $green
          border-color: $green - $grey
          +linear-gradient(color-stops($green, ($green - $grey)))
          &:hover
            background: $green + #222
            +linear-gradient(color-stops(($green + #222), ($green - $grey)))
          &:active
            background: $green - #111
            +linear-gradient(color-stops(($green - #111), ($green - #888)))
        li
          padding: 6px 0
      ul.showcase_more_images
        margin: 0
        padding: 0
        list-style: none
        li
          display: inline
          padding-right: 6px
          img
            display: inline-block
            line-height: 0px
            padding: 4px
            +rounded(4px)
            background: $grey
            +transition(background, .2s, ease-in)
            &:hover
              background: $orange
            &:active
              background: $orange - #444
    .work_showcase_image
      +column(14)
      text-align: right
  .follow_on_twitter
    background: $mailee
    color: white
    padding: 4px
    +rounded(4px)