/* line 2, ../../app/stylesheets/ie.sass */
body {
  text-align: center;
}
/* line 48, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 52, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body p code {
  *white-space: normal;
}
/* line 67, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body .container {
  text-align: left;
}
/* line 69, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body sup {
  vertical-align: text-top;
}
/* line 71, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body sub {
  vertical-align: text-bottom;
}
/* line 73, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body hr {
  margin: -8px auto 11px;
}
/* line 75, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body img {
  -ms-interpolation-mode: bicubic;
}
/* line 77, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body fieldset {
  padding-top: 0;
}
/* line 79, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body textarea {
  overflow: auto;
}
/* line 82, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 86, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.text:focus {
  border: 1px solid #666666;
}
/* line 88, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 92, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.title:focus {
  border: 1px solid #666666;
}
/* line 94, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 97, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.radio {
  position: relative;
  top: 0.25em;
}
/* line 100, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.button {
  position: relative;
  top: 0.25em;
}
/* line 103, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body textarea {
  margin: 0.5em 0;
}
/* line 105, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body select {
  margin: 0.5em 0;
}
/* line 107, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body button {
  position: relative;
  top: 0.25em;
}
/* line 4, ../../app/stylesheets/ie.sass */
body .wrapper {
  text-align: left;
}
/* line 8, ../../app/stylesheets/ie.sass */
body form fieldset input[type="text"], body form fieldset input[type="email"], body form fieldset input[type="password"], body form fieldset textarea {
  background-color: #1e1e1e;
}
/* line 10, ../../app/stylesheets/ie.sass */
body form fieldset input[type="text"]:focus, body form fieldset input[type="email"]:focus, body form fieldset input[type="password"]:focus, body form fieldset textarea:focus {
  background-color: black;
}
