@import "partials/configuration", "partials/utilities", "partials/style"
::-moz-selection
  background: $orange
  color: #fff
  text-shadow: none
::selection
  background: $orange
  color: #fff
  text-shadow: none
a:focus
  outline-color: transparent
button::-moz-focus-inner,
input::-moz-focus-inner
  border-color: transparent