#diogo_biazus
  .image #{gravatar 'diogo'}
  .info
    %h4 Diogo Biazus
    %p Arquiteto de Dados. Gosta de estruturas auto-explicativas, auto-referentes e auto-limpantes.
    %p.links #{ twitter 'dbiazus' }