#daniel_weinmann
  .image #{gravatar 'daniel'}
  .info
    %h4 Daniel Weinmann
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.links  #{ twitter 'danielweinmann' }