#daniel_weinmann
  .image #{gravatar 'daniel'}
  .info
    %h4 Daniel Weinmann
    %p Gerente do ócio criativo, vai nas reuniões que ninguém mais quer ir. Tanguero, músico, e apaixonado pelo marketing do respeito.
    %p.links  #{ twitter 'danielweinmann' }