#felipe_cabral
  .image #{gravatar 'cabral'}
  .info
    %h4 Felipe Cabral
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.links #{ twitter 'felipebcabral' }