#juan_maiz
  .image
    .picture{:title => t('staff.xkcd.jm')}
  .info
    %h4 Juan Maiz
    %p= t 'staff.jm'
    %p.links #{ twitter 'joaomilho' } · #{link_to 'Tumblr', 'http://maiz.tumblr.com', :target => :_blank }
