#leonardo_tartari
  .image #{gravatar 'leonardo'}
  .info
    %h4 Léo Tartari
    %p= raw t 'staff.lt'
    %p.links #{ twitter 'leotartari' }
    -# · #{link_to 'Tumblr', 'http://leotartari.tumblr.com'}