#leonardo_tartari
  .image
    .picture{:title => t('staff.xkcd.lt')}
  .info
    %h4 Léo Tartari
    %p= raw t 'staff.lt'
    %p.links #{ twitter 'leotartari' }
    -# · #{link_to 'Tumblr', 'http://leotartari.tumblr.com'}