#leonardo_tartari
  .image #{gravatar 'leonardo'}
  .info
    %h4 Léo Tartari
    %p Artista do design, tipografia, UI e UX. Extremista em detalhes, não perdoa erros de 1px.
    %p.links #{ twitter 'leotartari' }
    -# · #{link_to 'Tumblr', 'http://leotartari.tumblr.com'}