#pedro_axelrud
  .image
    .picture{:title => t('staff.xkcd.pa')}
  .info
    %h4 Pedro Axelrud
    %p= t 'staff.pa'
    %p.links #{ twitter 'pedroaxl' } · #{link_to 'Flickr', 'http://flickr.com/photos/pedroaxl/', :target => :_blank} · #{link_to 'Flavors', 'http://flavors.me/pedroaxl/', :target => :_blank}
