#softa_description
  .wrapper
    %section
      #softa_logo
        %h1= link_to image_tag('softa.png'), root_path
      %h2= raw t 'description.punchline'
      .clear
      #{link_to(t('description.call_to_action'), '#contact_us', :id => 'site_call_to_action', :target => :_self)}