#softa_description
  .wrapper
    %section
      %h1 Desenvolvemos aplicações <em class="web_two">web 2.0</em> usando <em class="ruby_on_rails">Ruby on Rails</em> e <em class="postgresql">PostgreSQL</em>, aliando o melhor da tecnologia <em class="open_source">Open Source</em> aos <em class="methods">métodos certos</em> para realizar seus projetos no <em class="methods">menor tempo</em> e com a <em class="methods">maior qualidade</em>.
      %a.call_to_action Yo! Click here.
:javascript
  var emphasis = [".web_two",".ruby_on_rails",".postgresql",".open_source",".methods"]
  function change_emphasis(emphasis, index)
  {
    if(index > 0)
      $(emphasis[index - 1]).removeClass('active').addClass('passed')
    if(index == emphasis.length)
    {
      return
    }
    else
    {
      $(emphasis[index]).addClass('active')
      setTimeout("change_emphasis(emphasis, " + (index + 1) + ")", 2000)
    }
  }
  change_emphasis(emphasis, 0)