#softa_description
  .wrapper
    %section
      #softa
        %h1 #{image_tag('softa.png')}
        .call_to_action
          #{link_to(t('description.call_to_action'), '#contact_us', :class => 'site_call_to_action', :target => :_self)}
      %h2= raw t 'description.punchline'
      .clear
