.labs_header_wire
#softa_labs
  .wrapper
    %section
      %h1 #{image_tag 'labs/softa_labs.png', :alt => 'Softa Labs'}
      = render 'site/labs/hstore'
      %hr
      = render 'site/labs/hercules'
      .clear
.clear
.labs_footer_wire
