.labs_header_wire
#softa_labs
  .wrapper
    %section
      %h1 #{image_tag 'labs/softa_labs.png', :alt => 'Softa Labs'}
      %section
        = render 'site/labs/hstore'
        = render 'site/labs/hercules'
.clear
.labs_footer_wire
