.labs_header_wire
#softa_labs
  .wrapper
    %section
      %h1 #{image_tag 'labs/softa_labs.png', :alt => 'Softa Labs', :size => '243x175'}
      = render 'site/labs/hstore'
      %br
      = render 'site/labs/hercules'
      .clear
.clear
.labs_footer_wire
