.method_torned_paper
#softa_method
  .wrapper
    %section
      %h1= t 'method.title'
      = render 'site/method/agile'
      = render 'site/method/quality'
      = render 'site/method/tech'
      -#%button{:style => 'width:100%; height:48px; font-size:24px; font-weight:900; text-shadow:#aaa 0 1px 0; background:#666; color: black; border:0 none;'}= t 'method.contact'
.clear