.methodology_torned_paper
#softa_methodology
  .wrapper
    %section
      %h1 Metodologia
      .method_image
        %img{ :width => '470px', :height => '300px' }
      .method_text
        %section
          %h4 Lorem lorem lorem
          %p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by <strong>arches</strong> into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.
          %p His many legs, <em>pitifully</em> thin compared with the size of the rest of him, waved about <strong>helplessly</strong> as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
      .clear
      .method_text
        %section
          %h4 Lorem lorem lorem
          %p A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated <em>magazine</em> and housed in a nice, gilded frame. It showed a lady <strong>fitted</strong> out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.
          %p Gregor then turned to look out the window at the dull weather. <strong>Drops</strong> of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he <em>thought</em>, but that was something he was unable to do because he was used to <em>sleeping</em> on his right, and in his present state couldn't get into that <strong>position</strong>.
      .method_image{:style => 'text-align: right;'}
        %img{ :width => '470px', :height => '300px' }
      .clear
      %button{:style => 'width:100%; height:48px; font-size:24px; font-weight:900; text-shadow:#aaa 0 1px 0; background:#666; color: black; border:0 none;'} entre em contato
.clear