.methodology_torned_paper
#softa_methodology
  .wrapper
    %section
      %h1 Metodologia
      .method_text
        %section
          %h4 Métodos ágeis
          %p Utilizar métodos ágeis significa colocar as <strong>pessoas em primeiro lugar</strong>. O sucesso de um projeto de software começa com um <strong>time qualificado</strong> e que ama o que faz. Cliente como <strong>parte da equipe</strong>, <strong>comunicação aberta</strong> e <strong>foco no resultado</strong> complementam a receita.
          %p Acreditamos que não existem dogmas em desenvolvimento de software e que o mais importante é o aprendizado contínuo.
      .method_image
        %img{ :width => '350px', :height => '200px' }
      .clear
      .method_image{:style => 'text-align: right;'}
        %img{ :width => '350px', :height => '200px', :style => 'margin-right: 30px;' }
      .method_text
        %section
          %h4 Qualidade
          %p
          %p Além disso, utilizamos uma série de técnicas para criar sistemas de alta qualidade. Controle de versões com git, testes automatizados, verificação da cobertura de testes, integração contínua e deployment automatizado são algumas delas.
      .clear
      .method_text
        %h4 Tecnologia
        %p Empresas de tecnologia não devem ter medo de experimentar. Estamos sempre estudando novas ferramentas e testando novas plataformas. Hoje, trabalhamos principalmente com <strong>Ruby on Rails</strong> e <strong>PostgreSQL</strong>.
        %p Nosso cinto de utilidades conta também com linguagens como C, JavaScript (Node.js), Python, Erlang e Haskell.
      .method_image
        %img{ :width => '350px', :height => '200px' }
      .clear
      %button{:style => 'width:100%; height:48px; font-size:24px; font-weight:900; text-shadow:#aaa 0 1px 0; background:#666; color: black; border:0 none;'} entre em contato
.clear