#rsonrails
  .wrapper
    %section
      %p
        #{t('rsonrails.we_organize')}
      %h2
        #{link_to image_tag('rsonrails.png', :alt => 'RS on Rails', :title=> 'RS on Rails'), 'http://rsrails.com.br', :target => :_blank, :size => '225x51' }
      %p
        #{raw t('rsonrails.about')}