%article.labs_article
  .article_images
    = image_tag 'labs/hercules.jpg'
  .article_title
    %h2 Hercules
  .article_author
    %h4 Diogo Biazus
  .article_content
    %p
      = raw t 'labs.hercules.desc'
      %br
      = link_to 'GitHub »', 'http://github.com/diogob/hercules'
  .clear
