%article.labs_article
  .article_images
    = image_tag 'labs/hstore.jpg'
  .article_title
    %h2 ActiveRecord Postgres Hstore
  .article_author
    %h4 Juan Maiz
  .article_content
    %p
      = raw t 'labs.hstore.desc'
      %br
      = link_to 'GitHub »', 'http://github.com/softa/activerecord-postgres-hstore'
  .clear
