%article.labs_article
  .article_images
    = image_tag 'https://spreadsheets.google.com/oimg?key=0AoQcKrACYfGjdGRVV3cyTDZYQkJMa255VkxxQW9LTHc&oid=1&zx=ksfsz3-j87df5', :width => '275px'
  .article_title
    %h2 ActiveRecord Postgres Hstore
  .article_author
    %h4 Juan Maiz
  .article_content
    %p
      Suporte ao campo <samp>hstore</samp> do PostgreSQL no <samp>ActiveRecord</samp>. Adeus <samp>serialize</samp>.
      %br
      = link_to 'GitHub »', 'http://github.com/softa/activerecord-postgres-hstore'
  .clear
