:plain
  <!--
        ___           ___           ___           ___           ___     
       /\  \         /\  \         /\  \         /\  \         /\  \    
      /::\  \       /::\  \       /::\  \        \:\  \       /::\  \   
     /:/\:\  \     /:/\:\  \     /:/\:\  \        \:\  \     /:/\:\  \  
    _\:\~\:\  \   /:/  \:\  \   /::\~\:\  \       /::\  \   /::\~\:\  \ 
   /\ \:\ \:\__\ /:/__/ \:\__\ /:/\:\ \:\__\     /:/\:\__\ /:/\:\ \:\__\
   \:\ \:\ \/__/ \:\  \ /:/  / \/__\:\ \/__/    /:/  \/__/ \/__\:\/:/  /
    \:\ \:\__\    \:\  /:/  /       \:\__\     /:/  /           \::/  / 
     \:\/:/  /     \:\/:/  /         \/__/     \/__/            /:/  /  
      \::/  /       \::/  /                                    /:/  /   
       \/__/         \/__/                                     \/__/    
  
  #{t('softa.hello')}
  #{t('softa.happy_hacking')}
  
  -->